*.suo
*.user
_ReSharper.*
bin
obj
packages
Repositories

Files/OWIN OAuth 2.0 Authorization Server/*

.vs
.vs/*
Microsoft/*/*.suo
Microsoft/*/*.user
Microsoft/*/_ReSharper.*
Microsoft/*/bin
Microsoft/*/obj
Microsoft/*/packages
Microsoft/*/publish

Microsoft/*/*/*.suo
Microsoft/*/*/*.user
Microsoft/*/*/_ReSharper.*
Microsoft/*/*/bin
Microsoft/*/*/obj
Microsoft/*/*/packages
Microsoft/*/*/publish

Microsoft/*/*/*/*.suo
Microsoft/*/*/*/*.user
Microsoft/*/*/*/_ReSharper.*
Microsoft/*/*/*/bin
Microsoft/*/*/*/obj
Microsoft/*/*/*/packages
Microsoft/*/*/*/publish
/Microsoft/Agnostic/Exslt/.svn
/Microsoft/CommandLineTools/binaries/Debug/CLBCUriToFile.vshost.exe.config
Microsoft/CommandLineTools/binaries/Debug/CLBCUriToFile.vshost.exe
Microsoft/CommandLineTools/binaries/Debug/CLBCUriToFile.vshost.exe.config
/Microsoft/CommandLineTools/binaries/Debug/CLBCUriToFile.vshost.exe.manifest
/Microsoft/CommandLineTools/binaries/Debug/CLBCFileSetToFiles.vshost.exe.config
/Microsoft/CommandLineTools/binaries/Debug/CLBCFileSetToFiles.vshost.exe.manifest
/Microsoft/CommandLineTools/binaries/Debug/CLBCHtmlToXml.vshost.exe.manifest
/Microsoft/CommandLineTools/binaries/Debug/CLBCHtmlToXml.vshost.exe.config
